<!DOCTYPE HTML>
<html lang="">

<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>{{ title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="">

    <link rel="stylesheet" href="css/pdf.css">

    <link rel="stylesheet" href="css/highlight/ebook.css">

    <link rel="stylesheet" href="css/highlight/prism.css">

</head>

<body>

    <div class="page">
      <div class="section">
        {{{ content }}}
      </div>
    </div>

</body>

</html>
